{% extends "base.html" %}
{% block content %}

<main>
    <form action="/account_access/" method="post">
        {% csrf_token %}
        <div class="user">
            User account:
            {{ data_user.phone_number }}</div>
        <div class="invite">
            The user's invite code:
            {{ data_user.invite_code }}</div>

            {% if data_user.used_code %}

            Your activated invite code:
            {{ data_user.used_code }}
        <div class="activate">
            Your code has been activated:
            <ul>{% for user in data_user.dependent_user %}
                <li>{{ user }}</li>
                {% endfor %}
            </ul></div>
                {% else %}
                    <input id="invite_code" type="text" name="invite_code">
                    <input type="submit" value="apply", name="add_code">
    </form>
    {% endif %}
</main>
{% endblock %}