{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <title>{% block title %}Referral System{% endblock %}</title>
</head>
<body>
<div class="header">
  <h1>{% block h1 %} <a href="{% url 'user_login' %}">Referral System{% endblock %} </a> </h1>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>